* {
    padding: 0;
    margin: 0;
    font-family: ten-mincho, serif;
    font-style: normal;
    font-weight: 400;
    line-height: 4ex;
    color: #0f0000;
}

.wapper{
    background-color: #f1f1f1;
}

.sp{
    display: none;
}

.hero{
    background-image: url(images/hero.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero img{
    background: none;
    position: absolute;
    width: 50%;
    max-width: 600px;
    top: 50vh;
    left: 50vw;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.contents h1,ruby{
    font-size: 60px;
    letter-spacing: 30px;
    text-align: center;
    margin: 150px 0 30px;
    padding-left: 30px;
}

rt{
    font-size: 25px;
}

.concept{
    font-size:24px;
    text-align: center;
    line-height: 50px;
    margin: 80px;
    white-space: nowrap;
}

#intro h2{
    font-size: 45px;
    margin-left: 30px;
    white-space: nowrap;
}

#intro p:not(.concept){
    font-size:24px;
    width: 90%;
    padding-left: 10%;
}

#intro .element{
    margin: 100px 5%;
    width: 90vw;
    height: 400px;
    position: relative;
}

#intro .sentence{
    width: 600px;
    padding: 50px;
    background-color: rgba(255,255,255,0.5);
    border: 0 solid #000;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#intro .right-sentence{
    right: 0;
}

#intro .left-sentence{
    left: 0;
    padding-left: 0;
}

#intro img{
    width: 600px;
    z-index: -1;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    
}

#intro .right-photo{
    right: 0;
}

#intro .left-photo{
    left: 0;
}

.coffee{
    width: 800px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

#menu .coffee h2{
    font-size: 32px;
}

#menu h3{
    font-size: 32px;
    margin-top: -60px;
    float: right;
}
#menu p{
    width: 500px;
    font-size: 20px;
    padding-left: 40px;
}

#menu-img-1{
    background-image: url(images/affogato.png);
    background-size: cover;
}

#menu-img-2{
    background-image: url(images/cake.png);
    background-size: cover;
}

#menu-img-3{
    background-image: url(images/ginger.png);
    background-size: cover;
}

#menu-img-4{
    background-image: url(images/soda.png);
    background-size: cover;
}

.menu-imgs .menu-img{
    width: 25vw;
    height: 25vw;
    float: left;
    margin-bottom: 150px;
    position: relative;
    transition: 0.5s;
}

.menu-imgs .menu-img .menu-name{
    color: #f1f1f1;
    text-align: right;
    position: absolute;
    right: 2vw;
    bottom: 3vw;
    opacity: 0;
    transition: 0.5s;
    transition-duration: ease;
}

.yen{
    color: #f1f1f1;
    font-size: 35px;
}

.filter{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: 0.5s;
}

.menu-img:hover > .filter{
    opacity: 0.4
}

.menu-img:hover > .menu-name{
    opacity: 1;
    bottom: 2vw;
}

#menu:after{
   content: "";
   display: block;
   clear: both;
}

#news iframe{
    width: 500px;
    display: block;
    margin: 0 auto;
}

.slider-for div img{
    width: 50%;
    display: block;
    margin: 50px auto;
    border: 8px double #ad870e;
}

.slider div img{
    width: 99%;
}

.slider{
    margin: 0 20%;
}

#access iframe{
    width: 40%;
    margin-left: 10%;
}

#access .element{
    width: 35%;
    float: right;
    padding-left: 5%;
    padding-right:10%;
}

#access h2{
    font-size: 30px;
    padding: 20px;
}

#access h3{
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
}

#access img{
    width: 50px;
    margin: 10px;
    float: right;
}

footer h5{
    text-align: center;
    color: #f1f1f1;
    background-color: #0f0000;
    margin-top: 300px;
}

